{% extends "base.html" %}
{% block content %}

<h2>Backup History</h2>

<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Path</th>
    <th>Date</th>
</tr>
{% for b in backups %}
<tr>
    <td>{{ b[0] }}</td>
    <td>{{ b[1] }}</td>
    <td>{{ b[2] }}</td>
    <td>{{ b[3] }}</td>
</tr>
{% endfor %}
</table>

<h2>Restore History</h2>

<table>
<tr>
    <th>ID</th>
    <th>Backup ID</th>
    <th>Restore Path</th>
    <th>Date</th>
</tr>
{% for r in restores %}
<tr>
    <td>{{ r[0] }}</td>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}